body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #3d3a3a, #444); /* Brighter black (#111) to a lighter gray (#444) */
  }
  
  .top-bar {
    background-color: #000; /* Darkest black */
    text-align: center;
    color: white;
    padding: 10px 0; /* Adjust vertical padding */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .info p {
    font-size: 84px; /* Three times the original size */
    font-weight: bold;
  }
  
  .above-rectangle {
    text-align: center;
    margin-bottom: 10px; /* Adjust the space between the text and the custom rectangle */
  }
  
  .theater-text {
    color: white;
    font-weight: bold;
    margin-bottom: 5px; /* Adjust the margin to bring it closer to the custom rectangle */
    font-size: 24px; /* Adjust the font size to make it bigger */
  }
  
  img {
    max-width: 300px; /* Adjust the maximum width of the image */
    max-height: 300px; /* Adjust the maximum height of the image */
    margin-left: 20px; /* Adjust the margin to control the space between text and image */
  }
  
  .bottom-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  .custom-rectangle {
    background-color: black;
    color: white;
    border-radius: 20px; /* Adjust to make the corners more or less curved */
    padding: 20px;
    text-align: center;
  }
  
  .custom-text {
    font-weight: bold;
  }
  
  button {
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    transition: border-color 0.3s ease-in-out;
  }
  
  button:hover {
    border-color: orange;
  }
  
  .aboutButton {
    margin-left: 10px; /* Adjust this value to create space between buttons */
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .aboutButton:hover {
    border-color: orange;
  }
